/* CSS for the Advanced requirement */

table{
    position: absolute;
    top: 50px;
    left: 550px;
    border: 1px solid black;
    width: 10%;
}
#previous{
    position: absolute;
    left: 550px;
    top: 30px;
    background-color: rgb(100%, 0%, 100%);
    border: none;
}

#next{
    position: absolute;
    left: 684px;
    top: 30px;
    background-color: rgb(100%, 0%, 100%);
    border: none;
}

#month{
    position: absolute;
    left: 580px;
    top: 15px;
}

.highlight{
    background-color: rgb(100%, 0%, 0%);
}

td{
    text-align:center;
}

#head{
    color: purple;
}